// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
    background-color: #DF013A;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #DF013A;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.table {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px
}