<form action="/bank_agences" class="form-group row" id="bank_agence" method="post">
  <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
  <div class="input-group">
    <span for="agence" class="input-group-addon"></span>
    <input id="agence" name="bank_agence[agence] type="text" class="form-control" placeholder="Numero da Agência">
  </div>
  <div class="input-group">
    <span class="input-group-addon"></span>
    <input id="address" class="form-control" name="bank_agence[address]" placeholder="Endereço">
  </div>
  <br>
  <div input-group>
    <input name="commit" type="submit" value="Criar Agência" />
  </div>
</form>